<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>{% block title%} {% endblock %}</title>
     <style>
       {% block css %} {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shop">NE Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      {% if request.user.groups.all %}
        {% for x in request.user.groups.all %}
          {% if x.name == "SELLER" %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'addItem' %}">Add Item</a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'seller-page' request.user.username %}">Seller Page</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'sellershop' %}">Go to shop</a>
            </li>
              {% comment %} <a class="dropdown-item" href="">Add Item</a>
              <a class="dropdown-item" href="">Seller Page</a> {% endcomment %}
          {%else%}
            <li class="nav-item">
              <a class="nav-link" href="/shop/about">About Us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/shop/tracker">Tracker</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/shop/contact">Contact Us</a>
            </li>

          {% endif %}
        {%endfor%}
      {%else%}
        <li class="nav-item">
          <a class="nav-link" href="/shop/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker">Tracker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shop/contact">Contact Us</a>
        </li>        
      {%endif%}

      {% else %}
          <li class="nav-item">
          <a class="nav-link" href="/shop/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/tracker">Tracker</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop/contact">Contact Us</a>
        </li>
      {% endif %}

    </ul>
    <div class="ml-auto form-inline">
    <form method='get' action='/shop/search/' class=" my-2 my-lg-0 mx-4">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% comment %} {% for x in request.user.groups.all %}
            {%if "Seller" == x.name or request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'addItem' %}">Add Item</a>
                <a class="dropdown-item" href="{% url 'seller-page' request.user.username %}">Seller Page</a>
            {% endif %}
          {% endfor %} {% endcomment %}
          <a class="dropdown-item" href="{% url 'orderlist' %}">My Order</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        </div>
      </li>
    </ul>
    {% else %}
    <!-- Button to trigger Login modal -->
    <div class="btn-group mr-3">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account <i class="fas fa-user-circle"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'account_login'%}" type="button">Login</a>
        <a class="dropdown-item" href="{% url 'account_signup'%}" type="button">Sign Up</a>
      </div>
    </div>
    {% endif %}


    <button type="button" class="btn btn-secondary mr-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
    Cart(<span id="cart">0</span>)
    </button>
    
   </div>
  </div>
</nav>


{% comment %} <!-- SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/shop/signup/" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username"required>
    </div>
      <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="first name"required>
    </div>
        <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="last name"required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com"required>
    </div>
      <div class="form-group">
      <label for="pass1">Password</label>
      <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter your password"required>
    </div>
        <div class="form-group">
      <label for="pass2">Confirm Password</label>
      <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again"required>
    </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/shop/sellerlogin/" method="post">
            {% csrf_token %}
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Choose a unique username"required>
              </div>
              <div class="form-group">
                  <label for="loginpassword">Password</label>
                  <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password"required>
              </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div> 
{% endcomment %}


  <main role="main" class="container">
    <div class="mt-5 pt-4">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  </div>
    <div>
      {% block body %} {% endblock %}
    </div>
  </main>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    
    {% block js %} {% endblock %}
  </body>
</html>